{% extends 'base.html' %}
{% block content %}

<h1>Item - {{ item.name }}</h1>

<p><img src="{{ item.photo_url }}" width="250px" height="250px"></p>

<p><strong>Price:</strong> {{ item.price }}</p>

<p><strong>Category:</strong> {{ item.category }}</p>

<p><strong>Store:</strong> {{ item.store.title }}</p>

<p><strong>Created By:</strong> {{item.created_by.username}}</p>
<form action="/add_to_shopping_list/{{item.id}}" method="POST">
    <button>Add To Shopping List</button>
</form>
<h2>Edit Item</h2>

<form method="POST" action="{{url_for('main.item_detail',item_id=item.id)}}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>


        {{form.name.label}}
        {{form.name}}
        <ul>
            {% for error in form.name.errors%}
            <li>{{error}}</li>
            {% endfor %}
        </ul>

        {{form.price.label}}
        {{form.price}}
        <ul>
            {% for error in form.price.errors%}
            <li>{{error}}</li>
            {% endfor %}
        </ul>

        {{form.category.label}}
        {{form.category}}

        {{form.photo_url.label}}
        {{form.photo_url}}
        <ul>
            {% for error in form.photo_url.errors%}
            <li>{{error}}</li>
            {% endfor %}
        </ul>

        {{form.store.label}}
        {{form.store}}

        {{form.submit}}
    </fieldset>
</form>


{% endblock %}