{% extends 'base.html' %}
{% block content %}

<h1>New Item</h1>

<form method="POST" action="{{url_for('main.new_item')}}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>


        {{form.name.label}}
        {{form.name}}
        <ul>
            {% for error in form.name.errors%}
            <li>{{error}}</li>
            {% endfor %}
        </ul>

        {{form.price.label}}
        {{form.price}}
        <ul>
            {% for error in form.price.errors%}
            <li>{{error}}</li>
            {% endfor %}
        </ul>

        {{form.category.label}}
        {{form.category}}

        {{form.photo_url.label}}
        {{form.photo_url}}
        <ul>
            {% for error in form.photo_url.errors%}
            <li>{{error}}</li>
            {% endfor %}
        </ul>

        {{form.store.label}}
        {{form.store}}

        {{form.submit}}
    </fieldset>
</form>


{% endblock %}