{% extends 'base.html' %}
{% block content %}

<h1>New Store</h1>

<form method="POST" action="{{url_for('main.new_store')}}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>


        {{form.title.label}}
        {{form.title}}
        <ul>
            {% for error in form.title.errors%}
            <li>error</li>
            {% endfor %}
        </ul>

        {{form.address.label}}
        {{form.address}}
        <ul>
            {% for error in form.address.errors%}
            <li>error</li>
            {% endfor %}
        </ul>

        {{form.submit}}
    </fieldset>
</form>


{% endblock %}